<header>
    <nav>
        <a href="/">Retro Movies</a>
        <ul>
            <li><a href="/categories">Generos</a></li>
            <li><a href="/categories/new">Agregar Genero</a></li>
        </ul>
    </nav>
</header>